<div><br><h3>Frame Tools - these actions are applied to all frames in the display.</h3>
  <ul>
    <div>Create Frame - Creates a container for an image. The frame is draggable and resizable.</div>
    <br>
    <div>Lock Frames in Place/Unlock Frame Drag - Use this to lock your frames in place, preventing them from being dragged with the mouse. Unlock Frame Drag re-enables frame dragging.</div>
    <br>
    <div>Unlock/Lock Image Drag - Allows/disallows dragging the images WITHIN the frames. Use this in tandem with Image Resize to manually "crop" your images.</div>
    <br>
    <div>Enable/Disable Image Resize - Allows/disallows resizing the images WITHIN the frames.</div>
    <br>
    <div>Enable Snap to Grid - Inputting a number into the accompanying text box and hitting this button will 'snap' all frames to the nearest divne of the numerical increment entered. Afterwards, frames will only move in increments of the number entered. This value is in pixels. Input the number '1' and hit the button again to turn this feature off.</div>
    <br>
    <div>Set Border Width - Inputting a number into the accompanying text field and hitting this button will set the thickness of all frames borders. This value is in pixels. Input 0 and hit the button to turn borders off.</div>
    <br>
    <div>Set Border Color - Cdivck on the text box and select a color! Hit this button to change frame borders to the selected colors. Hex codes can also be entered here. NOTE: Selecting a frame will place a blue border around it, indicating selection - this does not delete or overwrite your custom border settings.</div>
    <br>
    <div>Background Color - Cdivck on the text box and select a color! Hit this button to change the page's background to the selected color.</div>
    <br>
  </ul>
</div>
<div><br><h3>Selection Tools - these actions are appdived only to the currently selected frame.</h3>
  <ul>
    <div>Fit Frame to Image - This will resize the frame to match the dimensions of its contained image. Use this to quickly size your frame after resizing your image (assuming you want the whole image displayed).</div>
    <br>
    <div>Rename Frame - This will change the name of the frame displayed in the frame selection box.</div>
    <br>
    <div>Add Image to Frame - This will add an image to the selected frame. Before using this, you must input the URL of the desired image in the accompanying text box (host your images elsewhere!).</div>
    <br>
    <div>Delete Frame - This will delete the currently selected frame along with the image inside.</div>
    <br>
  </ul>
</div>
<div><br><h3>User Tools</h3>
  <ul>
    <div>Save Display - This will save your display to the database for later revision. Be sure to name your display before hitting the save button.</div>
    <br>
    <div>Generate HTML - This will output your fully functional HTML code, which you can use to recreate your display on your own site. If you think you may edit your display later, be sure to save it before you Generate HTML, as the frames and images will be stripped of all dragging/resizing functionadivty before your HTML is rendered.</div>
    <br>
  </ul>
</div>
