body{
  font-family: 'Maven Pro', sans-serif;
}

#displayHeight{
  width: 70px;
}

#displayWidth{
  width: 70px;
}

#container {
  position: relative;
}

#top{
  position: relative;
}

#displayName{
  font-style: italic;
  right: 0;
  bottom: 0;
  position: absolute;
}

button{
  height: 25px;
}

#controlPanel{
  position: fixed;
  z-index: 1;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: white;
}

#HTMLBox {
  min-width: 400px;
  min-height: 250px;
}

.frame {
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
}

.selectedFrame{
  border-color: blue !important;
  border-width: 5px !important;
  border-style: solid;
}

#frameSelect{
  width: 75px;
}

button.tool {
  width: 145px;
}

input.tool {
  width: 145px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip img{
  position: absolute;
  top: -17px;
  width: 30px;
  height: 25px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    left:105%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
