#container {
  position: relative;
}

.frame {
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
}

.selectedFrame{
  border-color: blue;
  border-width: 3px;
  border-style: solid;
}

#frameSelect{
  width: 75px;
}
